@font-face{
	font-family: 'Libre Franklin Bold';
	src: url('../fonts/LibreFranklin-Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'Libre Franklin';
	src: url('../fonts/LibreFranklin-Regular.ttf') format('truetype');
}

body{
    font-family: 'Libre Franklin Bold';
    font-size: 1.5em;
    color: #c38539;
	background: #333333;
	background: -moz-radial-gradient(center, ellipse cover, #333333 72%, #131313 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #333333 72%,#131313 100%);
	background: radial-gradient(ellipse at center, #333333 72%,#222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#131313',GradientType=1 );
	margin-bottom: 0;
}

p{
	font-family: 'Libre Franklin';
	max-width: 35em;
}

#home{
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

#home .post-list{
	margin-left: auto;
	margin-right: auto;
	background-color: #2b2b2b;
	border-radius: 0.5em;
	-webkit-box-shadow:inset 0 5px 10px 2px rgba(0,0,0,0.2);
	box-shadow:inset 0 5px 10px 2px rgba(0,0,0,0.2);
	padding: 1em;
}

#home .post-list li{
	margin: 0.5em;
	display: block;
	height: 1.2em;
}

#home .post-list li:nth-child(n+4){
	display: none;
}

#post #home .post-list li:nth-child(n+4){
	display: block;
}

#home .post-list li span{
	margin: 0;
	float: right;
}

#home .post-list h2{
	font-size: 1em;
	display: inline;
	margin: 0;
	float: left;
}

a{
	color: #ffd42a;
}

h1{
    font-size: 4em;
    color: #ffd42a;
    text-align: center;
    margin-bottom: 0;

    text-shadow: 0 1px 0 #c38539, 0 2px 0 #c38539, 0 3px 0 #c38539, 0 4px 0 #c38539, 0 5px 0 #c38539, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2);
}

h1 a{
	text-decoration: none;
}

article{
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

article p{
	max-width: inherit;
}

article h1{
	font-size: 1.5em;
	text-shadow: none;
}

article img{
	max-width: 100%;
}

article ul{
	margin: 0;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: left;
	width: 100%;
}

article img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 0.5em;
	margin-bottom: 1em;
}

article ul li{
	font-family: 'Libre Franklin';
	margin-bottom: 0.5em;
}

time{
	text-align: center;
	display: block;
	color: gray;
}

h2{
    color: #ffd42a;
}

.separator1{
	height: 0.3em;
	width: 70%;
}

.separator2{
	height: 0.3em;
	width: 90%;
}

.separator3{
	height: 0.3em;
	width: 59%;
}

.icon{
    width: 1.5em;
    margin-right: 0.5em;
	vertical-align: middle;
}

#items{
	display: inline-block;
	margin-top: 5em;
}

#items img{
	width: 20%;
	display: inline;
	margin-left: 10%;
}

#subtitle{
    color: #c38539;
    font-size: 1.5em;
    text-align: center;
    display: block;
    margin-bottom: 2.5em;
}

#home li{
	list-style-type: none;
	display: inline;
	margin: 4em;
}

ul{
	text-align: center;
	margin: 3em;
	width: 60%;
	padding: 0;
}

#main_quest{
	color: #d4ff2a;
	font-size: 1.25em;
	white-space: nowrap;
}

#side_quest{
	color: #ffd42a;
	font-size: 1.25em;
	white-space: nowrap;
}

.quest_icon{
	width: 2em;
	vertical-align: middle;
}

#img_panel{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#img_play{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
	border: 3px solid #ffd42a;
	margin-bottom: 2em;
	margin-top: 2em;
}

#img_quest{
    width: 25%;
    float: right;
}

#img_item{
    width: 55%;
    float: left;
}

#img_query{
    width: 40%;
    float: right;
}

#download_h2{
	margin-top: 7em;
    text-align: center;
}

#download{
    margin: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
	height: 4em;
	margin-bottom: 4em;
	background-image: url('../button_download.png');
	background-size: 100% 100%;
}

#download:hover{
	background-image: url('../button_download_select.png');
	cursor: pointer;
}

footer{
    font-size: 0.75em;
    color: #777;
    text-align: center;
}

@media screen and (max-width: 85em) {
	#img_item{
		margin-left: auto;
		margin-right: auto;
		display: block;
		float: none;
	}

	#items{
		display: block;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}

	#home .post-list{
		width: 95%;
	}
}
